<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AS2.Properties.Settings.AttendanceDBConnectionString"
            connectionString="Data Source=BT-21051080\SQLEXPRESS;Initial Catalog=AttendanceDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AS2.Properties.Settings.AttendanceDBConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AttendanceDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>